@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  
  .label {
    @apply flex items-center text-gray-300 justify-center ring-1 p-1 px-2 w-fit cursor-pointer rounded-md
  }

  .primarylabel {
    @apply ring-yellow-400
  }

  .secondarylabel {
    @apply ring-gray-300
  }

  .destructivelabel {
    @apply ring-red-400
  }



  .btn {
    @apply flex items-center justify-center gap-2   font-semibold px-4 py-2 transition duration-300 hover:-translate-y-0.5 transform ease-in-out hover:ring-2  active:ring-4  ring-1
  }

  .btnprimary {
    @apply bg-yellow-600 ring-yellow-200
  }

  .btndefault { @apply ring-white }

  .btnsecondary { @apply ring-white bg-white text-black }
  .btnlink {@apply bg-transparent hover:ring-0  active:ring-0  ring-0 text-yellow-400 px-0}
  

}


body , html{
  background-color: #000;
  color: #fff;
  height: 100%;

}
#__next{
  height: 100% !important;
}
.header-hero {
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.3))),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#000)),url('/images/headerposter.jpeg');
  background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.3)),linear-gradient(180deg,transparent,#000),url('https://image.tmdb.org/t/p/original/56v2KjBlU4XaOv9rVYEQypROD7P.jpg');
  background-position: 0 0,50% 50%,50% 50%;
  background-size: auto,auto,cover;
  background-repeat: repeat,repeat,no-repeat;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.tabname.active{
  color:#facc14
}
.tabname.active::after{
content: "";
position: absolute;
height: 3px;
width: 50%;
left: 0px;
right: 0px;
bottom: 0px; 
margin: auto;
background-color: #facc14;

}

